@charset "UTF-8";

*{
margin: 0%;
padding: 0%;
}
body{
    max-width: 1200px;
    min-width: 300px;
}

body img.fundo{
    position: absolute;
    width: 100%;
    height:100%;
}

div{
    position:relative;
    max-width: 500px;
    min-width: 300px;
}

div.foto{
    display: block;
    margin:auto;
    
}